<!-- BEGIN CONTENT BODY -->
<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <h1 class="page-title"> Cleaners</h1>
    <!-- END PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">

            <div class="portlet light margin-top-20">

                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-dark bold uppercase">All Cleaners</span>
                    </div>
                    <div class="actions">
                        <div class="btn-group">
                            <a class="btn dark btn-outline btn-circle btn-sm" href="cleaners_map.html" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> View on Map </a>
                        </div>
                        <div class="btn-group">
                            <a class="btn dark btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Filter By Availability
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:;">All Cleaners</a>
                                </li>
                                <li class="divider"> </li>
                                <li>
                                    <a href="javascript:;">Available</a>
                                </li>
                                <li>
                                    <a href="javascript:;">Unavailable</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th> First Name </th>
                                    <th> Last Name </th>
                                    <th> Current Availability </th>
                                    <th> Current Jobs </th>
                                    <th colspan="2"> Availability in Last 24 Hours </th>
                                    <th> Total Jobs </th>
                                    <th> Cleaner Details </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> Mark </td>
                                    <td> Otto </td>
                                    <td>
                                        <span class="label label-sm label-danger"> Unavailable </span>
                                    </td>
                                    <td> 3 </td>
                                    <td> 60 min available </td>
                                    <td> 20 min unavailable </td>
                                    <td> 10 </td>
                                    <td>
                                        <a href="cleaners_details.html" class="btn green-sharp btn-xs"> View Details </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Larry </td>
                                    <td> Cooper </td>
                                    <td>
                                        <span class="label label-sm label-info"> Available </span>
                                    </td>
                                    <td> 3 </td>
                                    <td> 60 min available </td>
                                    <td> 20 min unavailable </td>
                                    <td> 10 </td>
                                    <td>
                                        <a href="cleaners_details.html" class="btn green-sharp btn-xs"> View Details </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Mark </td>
                                    <td> Otto </td>
                                    <td>
                                        <span class="label label-sm label-danger"> Unavailable </span>
                                    </td>
                                    <td> 3 </td>
                                    <td> 60 min available </td>
                                    <td> 20 min unavailable </td>
                                    <td> 10 </td>
                                    <td>
                                        <a href="cleaners_details.html" class="btn green-sharp btn-xs"> View Details </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Larry </td>
                                    <td> Cooper </td>
                                    <td>
                                        <span class="label label-sm label-info"> Available </span>
                                    </td>
                                    <td> 3 </td>
                                    <td> 60 min available </td>
                                    <td> 20 min unavailable </td>
                                    <td> 10 </td>
                                    <td>
                                        <a href="cleaners_details.html" class="btn green-sharp btn-xs"> View Details </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Mark </td>
                                    <td> Otto </td>
                                    <td>
                                        <span class="label label-sm label-danger"> Unavailable </span>
                                    </td>
                                    <td> 3 </td>
                                    <td> 60 min available </td>
                                    <td> 20 min unavailable </td>
                                    <td> 10 </td>
                                    <td>
                                        <a href="cleaners_details.html" class="btn green-sharp btn-xs"> View Details </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Larry </td>
                                    <td> Cooper </td>
                                    <td>
                                        <span class="label label-sm label-info"> Available </span>
                                    </td>
                                    <td> 3 </td>
                                    <td> 60 min available </td>
                                    <td> 20 min unavailable </td>
                                    <td> 10 </td>
                                    <td>
                                        <a href="cleaners_details.html" class="btn green-sharp btn-xs"> View Details </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Mark </td>
                                    <td> Otto </td>
                                    <td>
                                        <span class="label label-sm label-danger"> Unavailable </span>
                                    </td>
                                    <td> 3 </td>
                                    <td> 60 min available </td>
                                    <td> 20 min unavailable </td>
                                    <td> 10 </td>
                                    <td>
                                        <a href="cleaners_details.html" class="btn green-sharp btn-xs"> View Details </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Larry </td>
                                    <td> Cooper </td>
                                    <td>
                                        <span class="label label-sm label-info"> Available </span>
                                    </td>
                                    <td> 3 </td>
                                    <td> 60 min available </td>
                                    <td> 20 min unavailable </td>
                                    <td> 10 </td>
                                    <td>
                                        <a href="cleaners_details.html" class="btn green-sharp btn-xs"> View Details </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            <!-- END BORDERED TABLE PORTLET-->
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->