<!-- BEGIN CONTENT BODY -->
<div class="page-content">
  <!-- BEGIN PAGE HEADER-->
  <h1 class="page-title"> Jobs</h1>
  <!-- END PAGE HEADER-->
  <div class="row">
      <div class="col-md-12">

          <div class="portlet light margin-top-20">

              <div class="portlet-title tabbable-line">
                  <div class="actions hidden-lg hidden-md hidden-sm" style="width:100%">
                      <a href="#" class="btn btn-circle btn-icon-only btn-default btn-no-border btncalendar-next-day pull-right"><span class="fa fa-caret-right"></span></a>
                      <a href="#" class="btn btn-circle btn-icon-only btn-default btn-no-border btncalendar-prev-day pull-left"><span class="fa fa-caret-left"></span></a>
                  </div>
                  <div class="clearfix hidden-lg hidden-md hidden-sm"></div>
                  <div class="caption">
                      <span class="caption-subject font-dark bold uppercase">Today's Jobs</span>
                  </div>
                  <div class="tabbable tabbable-tabdrop">
                      <ul class="nav nav-tabs nav-tabs-right">
                          <li>
                              <a href="#"> Year </a>
                          </li>
                          <li>
                              <a href="#"> Month </a>
                          </li>
                          <li>
                              <a href="#"> Week </a>
                          </li>
                          <li class="active">
                              <a href="appointmets.html"> Today </a>
                          </li>
                          <li class="margin-right-10 hidden-xs"><a href="#" class="btn btn-circle btn-icon-only btn-default btncalendar-next-day"><span class="fa fa-caret-right"></span></a></li>
                          <li class="margin-right-10 hidden-xs"><a href="#" class="btn btn-circle btn-icon-only btn-default btncalendar-prev-day"><span class="fa fa-caret-left"></span></a></li>
                      </ul>
                  </div>
              </div>

              <div class="portlet-title">
                  <div class="caption">
                      <i class="icon-calendar font-green-sharp"></i>
                      <span class="caption-subject font-green-sharp" id="datetoday"> Tuesday 28th January 2019 </span>
                  </div>
                  <div class="actions">
                      <div class="btn-group">
                          <a class="btn dark btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Export to CSV </a>
                      </div>
                      <div class="btn-group">
                          <a class="btn dark btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Filter By Job Status
                              <i class="fa fa-angle-down"></i>
                          </a>
                          <ul class="dropdown-menu pull-right">
                              <li>
                                  <a href="javascript:;">All Jobs</a>
                              </li>
                              <li class="divider"> </li>
                              <li>
                                  <a href="javascript:;">Status 1</a>
                              </li>
                              <li>
                                  <a href="javascript:;">Status 2</a>
                              </li>
                              <li>
                                  <a href="javascript:;">Status 3</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>

              <div class="portlet-body">
                  <div class="table-scrollable">
                      <table class="table table-bordered table-hover">
                          <thead>
                                <tr>
                                  <th> Name </th>
                                  <th> Last Name </th>
                                  <th> Number Plate </th>
                                  <th> Job Status </th>
                                  <th> Cleaner Assigned </th>
                                  <th> Price </th>
                                  <th> Job Details </th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let job of jobs">
                                  <td> {{job.name }} </td>
                                  <td> Otto </td>
                                  <td> MRK233 </td>
                                  <td>
                                      <span class="label label-sm label-danger"> Status 1 </span>
                                  </td>
                                  <td> - </td>
                                  <td> €10.50 </td>
                                  <td>
                                      <a [routerLink]="['/jobs/details']" class="btn green-sharp btn-xs"> View Details </a>
                                  </td>
                              </tr>
                             
                          </tbody>
                      </table>
                  </div>
              </div>
          <!-- END BORDERED TABLE PORTLET-->
          </div>
      </div>
  </div>
</div>
<!-- END CONTENT BODY -->